root = true

[*.{cs,ttsql,sql,ts,tsx,js,css,scss,json,xml}]
end_of_line              = lf
charset                  = utf-8-bom
indent_style             = space
indent_size              = 4
trim_trailing_whitespace = true

[*.cs]
# Use collection initializers or expressions (IDE0028)
dotnet_diagnostic.IDE0028.severity = none

# Use simple 'using' statement (IDE0063)
dotnet_diagnostic.IDE0063.severity = none

# Use switch expression (IDE0066)
dotnet_diagnostic.IDE0066.severity = none

# Use compound assignment (IDE0054 and IDE0074)
dotnet_diagnostic.IDE0074.severity = none

# Simplify new expression (IDE0090)
dotnet_diagnostic.IDE0090.severity = none

# Use primary constructor (IDE0290)
dotnet_diagnostic.IDE0290.severity = none

# Use collection expression for fluent (IDE0305)
dotnet_diagnostic.IDE0305.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1056: URI properties should not be strings
dotnet_diagnostic.CA1056.severity = none

# CA1849: Call async methods when in an async method
dotnet_diagnostic.CA1849.severity = silent

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
